.container {
    max-width: 800px;
    margin: 50px auto;
  }
  .hero-section {
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
  }
  .hero-background {
    background-image: url('https://plaky.com/blog/wp-content/uploads/2022/12/How-to-create-a-project-task-list-cover.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind the text */
  }
  .hero-content {
    padding: 100px 0;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1; /* Ensure the overlay is behind the text */
  }
  .hero-heading {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero-description {
    font-size: 1.5rem;
  }

  .form-btn {
    display: flex;
    justify-content: center;
}